[defaults]
inventory = inventory/hosts.yml
roles_path = roles
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/.ansible-${USER}/tmp
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
control_path_dir = /tmp/ansible-cp
